body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --spotify-black: #191414;
  --spotify-green: #1DB954;
  --spotify-white: #FFFFFF;
  --ui-grey: #494949;
  --ui-1: #131313;
}

a{
  text-decoration: none;
}
a:-webkit-any-link{
  color: inherit;
}