%focus{
  padding: 0.06rem 0.13rem;
}

.playlist-item-container{
  color: white;
  width: 100%;
  padding: 0.11rem;
  border-radius: 3px;
  font-size: 0.8rem;
  margin: 2rem;
  cursor: pointer;
  user-select: none;
    &:hover{
      @extend %focus;
    }
    &.selected{
      @extend %focus;
      background-color: aqua;
    }
    &.user-disabled{
      opacity: 0.4;
    }
}

