.playlist-container{
  height: 100%;
  width: 30%;
  border-radius: 20px;
  background-color: var(--spotify-black);
  margin-left: 50px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: width 2s;
  overflow-y: scroll;
    .loading-text{
      color: grey;
      height: 2rem;
      width: 80%;
      margin: auto 10%;
      &.loaded{
        display: none;
      }
    }
    .playlist-title{
      background-color: transparent;
      border: none;
      width: 0%;
      margin-bottom: 5px;
      display: none;
      border-bottom: 1px solid white;
      color: white;
      margin-bottom: 25px;
      padding: 5px 0;
      transition: width 3s;
        &:focus{
          outline: none;
        }
        &.loaded{
          display: block;
          width: 20%;
        }
    }
    &.loaded{
      width: 100%;
      display: block;
      align-items: unset;
      justify-content: unset;
    }

    .track-table{
      text-align: center;
      width: 100%;
      table-layout: fixed;
      animation: fadeIn 3s forwards;
      .playlist-headers{
        color: rgb(63, 63, 63);
      }
    }
    @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
    }

    .button-create{
      margin-bottom: 25px;
      margin-left: 0.5rem;
      color: var(--spotify-green);
      opacity: 0;
      cursor: pointer;
      transition: opacity 3s;
      &:hover{
        filter: brightness(1.1);
      }
      &.loaded{
        opacity: 1;
      }
    }

    .create-playlist{
      display: flex;
      align-items: center;
    }
  }



::-webkit-scrollbar{
  display: none;
}