.main-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist-wrapper{
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genre-artist-wrapper{
  height: 70%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}