.main-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  flex-wrap: wrap;
  align-items: center;
    .title{
      color: var(--spotify-white);
      position: absolute;
      top: 1rem;
      left: 2.5rem;
      h1{
        font-size: 1.5rem;
        margin-bottom: 0;
      }
      p{
        font-size: 0.7rem;
        margin: 0;
      }
    }
}

.spotify-icon{
  vertical-align: middle;
  object-fit: cover;
  height: 1rem;
  margin: 2px 0;
}

.playlist-wrapper{
  width: 60%;
  height: 90%;
  display: flex;
  min-width: 400px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.genre-artist-wrapper{
  height: 80%;
  width: 35%;
  min-width: 400px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}