.artists-container{
  height: 95%;
  width: 60%;
  border-radius: 20px;
  position: relative;
  left: -3%; // BU UNFOLDDA GELİCEK BAŞTA SIFIR
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.97);
  padding: 2rem 0.5rem 1rem 2rem;
  overflow-y: scroll;
  background-color: var(--ui-1);
}

.choose-genre-message{
  color: rgba(128, 128, 128, 0.692);
}

::-webkit-scrollbar{
  display: none;
}