.artists-container{
  height: 100%;
  width: 55%;
  border-radius: 20px;
  position: relative;
  left: -20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: rgba(0, 0, 0, 0.97);
  padding: 2rem;
  overflow-y: scroll
}

::-webkit-scrollbar{
  display: none;
}