.genres-container{
  height: 100%;
  width: 50%;
  border-radius: 20px;
  padding: 2rem;
  overflow-y: scroll;
  z-index: 1;
  left: 45%;
  position: relative;
  transition: left 2s;
  flex-shrink: 0;
  &.loaded{
    left: 0%;
  }
  background-color: var(--spotify-black);
}

::-webkit-scrollbar{
  display: none;
}