.genres-container{
  height: 40rem;
  width: 20rem;
  border-radius: 20px;
  background-color: black;
  padding: 2rem;
  overflow-y: scroll;
  .genres-search{
    background-color: transparent;
    border: none;
    margin-bottom: 5px;
    border-bottom: 1px solid white;
    color: white;
      &:focus{
        outline: none;
      }
  }
}

::-webkit-scrollbar{
  display: none;
}