.genres-container{
  height: 100%;
  width: 50%;
  border-radius: 20px;
  padding: 2rem;
  overflow-y: scroll;
  z-index: 1;
  left: 45%;
  position: relative;
  transition: left 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  &.loaded{
    display: block;
    left: 0%;
  }
  background-color: var(--spotify-black);
}

.loading-genres-message{
  color: grey;
}

::-webkit-scrollbar{
  display: none;
}