.base{
  color: white;
  padding: 0.11rem;
  border-radius: 3px;
  width: 50%;
  margin: 0.5rem 0;
  user-select: none;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  align-items: center;
  text-align: center;
  border: 1.1px solid transparent;
  p{
    margin-top: 0.2rem;
    font-size: 0.75rem;
    padding: 0;
  }
  img{
    cursor: pointer;
    height: 75px;
    width: 75px;
    border-radius: 100%;
    &:hover{
      opacity: .75;
    }
  }
  &.userDisabled{
    opacity: 0.4;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1300px){
  .base img{
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width: 800px){
  .base img{
    height: 50px;
    width: 50px;
  }
}

